<ion-content>

  <body>
    <div id="line"></div>
    <div id="boutons">
      <ion-button expand="block" color="success" (click)="navigate()">Espace Adhérent
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
      <ion-button expand="block" color="warning">Adhérer
        <ion-icon slot="end" name="pencil"></ion-icon>
      </ion-button>
      <div id="hometitre">
        <h1>BIENVENUE SUR DIBOUT-BTP</h1>
        <p>Le système d'information collaboratif de votre fédération.</p>
      </div>
    </div>
  </body>
</ion-content>